 <h1>
    Home Page | <%=title%>
</h1>

<section>
    <h4>Post</h4>
    <%if(locals.user){%>
    <form action="/posts/create" method="post">
        <textarea name="content"  cols="30" rows="3" placeholder="Type her ..." required></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    <div id="posts-list-container">
        <ul>
            <% for(post of post){ %>
                
                <%- include('_post');%>
                
            <% } %>
        </ul>
        
    </div>
</section>

<section>
    <h4>Friends</h4>
    <%for(u of all_users){%>
        <p>
            <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
        </p>
    <%}%>    
</section>