 <h1>
    Socil Bridge | <%=title%>
</h1>

<section>
    <h4>Post</h4>
    <form action="/posts/create" method="post">
        <textarea name="content"  cols="30" rows="5" placeholder="Type her ..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>